@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 10px 30px;
  background: linear-gradient(
    0deg,
    rgba(12, 17, 24, 1) 0%,
    rgba(35, 47, 65, 1) 40%,
    rgba(39, 52, 71, 1) 60%,
    rgba(57, 76, 105, 1) 79%
  );
  position: sticky;
  top: 0px;
  z-index: 20;
}

.navbar span {
  font-size: 45px;
  font-family: "Great Vibes";
  color: #8bb6e4;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  background: linear-gradient(0deg, #394c69 2%, #101720 99%);
  padding: 20px 6%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  gap: 50px;
}

.home div:first-child {
  font-size: 25px;
  font-weight: 100;
  font-family: cursive;
  flex: 1;
}

.home div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50vh;
  min-width: 300px;
}

.home div:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  animation: circular infinite ease 14s;
}
@keyframes circular {
  0% {
    transform: translate(0, 0);
    filter: brightness(100%);
  }
  5% {
    transform: translate(1px, 0);
    filter: brightness(102%);
  }
  10% {
    transform: translate(2px, 0px);
    filter: brightness(104%);
  }
  15% {
    transform: translate(3px, 0px);
    filter: brightness(106%);
  }
  20% {
    transform: translate(4px, 0px);
    filter: brightness(108%);
  }
  25% {
    transform: translate(5px, 0px);
    filter: brightness(110%);
  }
  30% {
    transform: translate(5px, 1px);
    filter: brightness(112%);
  }
  35% {
    transform: translate(5px, 2px);
    filter: brightness(112%);
  }
  40% {
    transform: translate(5px, 3px);
    filter: brightness(112%);
  }
  45% {
    transform: translate(5px, 4px);
    filter: brightness(112%);
  }
  50% {
    transform: translate(5px, 5px);
    filter: brightness(112%);
  }
  55% {
    transform: translate(5px, 5px);
    filter: brightness(112%);
  }
  60% {
    transform: translate(4px, 5px);
    filter: brightness(112%);
  }
  65% {
    transform: translate(3px, 5px);
    filter: brightness(112%);
  }
  70% {
    transform: translate(2px, 5px);
    filter: brightness(112%);
  }
  75% {
    transform: translate(1px, 5px);
    filter: brightness(112%);
  }
  80% {
    transform: translate(0px, 5px);
    filter: brightness(112%);
  }
  85% {
    transform: translate(0px, 4px);
    filter: brightness(112%);
  }
  90% {
    transform: translate(0px, 2px);
    filter: brightness(112%);
  }
  95% {
    transform: translate(0px, 1px);
    filter: brightness(112%);
  }
  100% {
    transform: translate(0, 0);
    filter: brightness(100%);
  }
}

.home div:nth-child(2) img:hover {
  transform: scale(1.1);
  filter: brightness(140%);
}

.home div:nth-child(3) {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 10px;
  bottom: -220px;
}
.home div:nth-child(3) img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
.about {
  width: 100%;
  padding: 10px 8%;
  height: auto;
  color: white;
  background: rgb(26, 29, 26);
  background: linear-gradient(
    0deg,
    rgba(26, 29, 26, 1) 14%,
    rgba(35, 47, 65, 1) 35%,
    rgba(39, 52, 71, 1) 62%,
    rgba(57, 76, 105, 1) 79%
  );
}

.about .aboutCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.about .aboutCont p {
  flex: 1;
  min-width: 320px;
}

.about .aboutCont div {
  flex: 0.3;
  min-width: 320px;
}
.about .aboutCont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.about1 .row {
  padding-top: 100px;
}
.about2 {
  color: white;
  font-size: 40px;
  padding: 30px;
}
.about3 {
  width: 191px;
  border-radius: 500px;
  position: absolute;
  top: 168px;
  left: 40%;
}
.about5 {
  position: relative;
  top: -50px;
  width: 450px;
}
.about6 {
  font-family: "Kanit", sans-serif;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 20px;
}
.port1 {
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.achievements {
  background: rgb(57, 76, 105);
  background: linear-gradient(180deg, rgba(57, 76, 105, 1) 0%, #394c69 95%);
  color: white;
}

.achievements p:first-child {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 4px solid #718096;
  padding-top: 5rem;
  text-align: center;
}
.achievements p:nth-child(2) {
  text-align: center;
  font-size: 25px;
}


.achievements-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100wv;
  padding: 1% 5%;
}
.achievements-cont div {
  flex: 1;
}
.starleft {
  position: absolute;
  left: 0;
  max-width: 150px;
  bottom: 0;
}
.starright {
  position: absolute;
  right: 0;
  max-width: 150px;
  bottom: 0;
}
.achievements-cont div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.achievements-cont div img:nth-child(2) {
  border-radius: 50%;
}
.cash {
  position: absolute;
  width: 40vw;
  bottom: -100px;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.cash img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.projects{
  overflow: hidden;
}
.port2 {
  font-family: "Lora", serif;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  padding: 15px 0px;

}
.btn-primary {
  width: 100%;
}
.sticky {
  z-index: 12;
}

#contact_hide {
  display: none;
}
#contact_message {
  text-align: center;
  display: none;
}
.BUTTON_GLN {
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  /* font-family: Brush Script MT; */
  font-size: 30px;
  font-weight: 600;
  padding: 15px 30px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;

  cursor: pointer;
  margin-left: 50px;
}

.BUTTON_GLN:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  background-image: -webkit-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -moz-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -ms-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -o-linear-gradient(top, #1e62d0, #3d94f6);
  background-image: -webkit-gradient(to bottom, #1e62d0, #3d94f6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.message {
  background: #1e62d0;
  box-shadow: 2px 2px 2px #1a2631;
  font-size: 30px;
  padding: 20px;
  color: greenyellow;
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
}

.card-img-top {
  height: 200px;
}

.exp_bg {
  background: rgb(57, 76, 105);
  background: linear-gradient(
    0deg,
    rgba(57, 76, 105, 1) 14%,
    rgba(60, 37, 88, 1) 35%,
    rgba(26, 29, 26, 1) 79%
  );
  overflow-x: hidden;
}
.contact_bg {
  padding-top: 100px;
  background: rgb(60, 37, 88);
  background: linear-gradient(
    0deg,
    rgba(60, 37, 88, 1) 0%,
    rgba(57, 76, 105, 1) 83%
  );
}

.hidescroll {
  overflow-x: hidden;
}
.resume {
  /* background: green; */
  text-align: center;
  /* font-size: 18px; */
  /* display: inline-block; */
  width: 270px;
  cursor: pointer;
}
.buttonClass {
  font-size: 18px;
  font-family: Arial;
  padding: 10px 16px;
  width: 188px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #2f0b08;
  font-weight: bold;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 3px 4px 0px 0px rgb(62 33 138);
  text-shadow: 0px 1px 0px rgb(189 16 224);
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(179, 55, 242, 1));
}

.buttonClass:hover {
  background: linear-gradient(rgba(179, 55, 242, 1), rgba(0, 0, 0, 1));
}
@media screen and (min-device-width: 4px) and (max-device-width: 500px) {
  .about2 {
    color: white;
    font-size: 26px;
    padding: 35px;
  }
  .about2 .about5 {
    display: none;
  }
  .about3 {
    width: 140px !important;
    border-radius: 500px;
    position: absolute;
    /* top: 168px; */
    top: 20px;
    left: 60%;
  }
  .card {
    margin-bottom: 30px;
    display: ;
  }
  .navbar {
    padding-top: 15px;
    font-size: 15px;
  }
  .sunny1 {
    color: #8bb6e4;
    font-size: 20px;
  }
}

.client-project {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1d1a;
  font-family: cursive;
  padding: 20px;
}
.personal-project {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1d1a;
  font-family: cursive;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
    0deg,
    rgba(57, 76, 105, 1) 14%,
    rgba(60, 37, 88, 1) 35%,
    rgba(26, 29, 26, 1) 79%
  );
  z-index: 0 !important;
}

.swiper-slide span {
  color: white;
  font-size: 25px;
  font-family: cursive;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(
    0deg,
    rgba(57, 76, 105, 1) 14%,
    rgba(60, 37, 88, 1) 35%,
    rgba(26, 29, 26, 1) 79%
  );
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.certificstebg {
  background: rgb(57, 76, 105);
  background: linear-gradient(
    180deg,
    rgba(57, 76, 105, 1) 0%,
    rgba(26, 29, 26, 1) 95%
  );
  color: white;
  padding: 0 10%;
}
.model {
  width: 100vw;
  height: 100vh;
  background-color: #7a88d71f;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  transition: all 2s linear 1s;
  /* align-items: center; */
}
.model img {
  transition: all 2s linear 1s;
}
.SlClose {
  color: red;
  font-size: 60px;
  position: relative;
  left: -80px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar span {
    font-size: 18px;
  }
  .starleft,.starright{
    max-width: 40px;
  }
  .cash {
    bottom: -20px;
   
  }
  .home {
    gap: 0px;
  }
  .home div:first-child {
    font-size: 18px;
    font-family: cursive;
  }
  .about .aboutCont {
    gap: 20px;
  }
  .about .sizetext {
    font-size: 18px !important;
  }
  .personal-project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
  }
  .achievements {
   padding: 10px;
  }
  .achievements p:first-child {
    font-size: 2rem;
  }
  .achievements p:nth-child(2) {
    font-size: 16px;
  }

  .BUTTON_GLN {
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 0px;
  }
  .certificstebg {
    padding: 0;
  }
  .certificstebg .border-b-4 {
    font-size: 40px !important;
  }
  .certificstebg .text-3xl {
    font-size: 20px !important;
    line-height: 20px;
  }
  .model {
    width: 100%;
    background-color: red;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    padding: 20% 0% 20% 15%;
  }
  .model img {
    /* object-fit: cover; */
    width: 100%;
    height: 40vh;
  }
}
